@import "tailwindcss";

* {
  font-family: "Geist", sans-serif;
}

/* line animation */
@keyframes lineMove {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}
.animate-lineMove {
  animation: lineMove 2.5s linear infinite;
  opacity: 0.7;
}

/* No jobs available */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

/* img */

@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: floatImage 3s ease-in-out infinite;
}

/* pulse effect */

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 0px rgba(139, 92, 246, 0.4);
  }
  50% {
    box-shadow: 0 0 25px rgba(139, 92, 246, 0.6);
  }
  100% {
    box-shadow: 0 0 0px rgba(139, 92, 246, 0.4);
  }
}

.animate-glow {
  animation: glowPulse 2.5s ease-in-out infinite;
}

/* Scrollbar styles this project */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8b5cf6, #ec4899, #facc15);
  border-radius: 8px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #7c3aed, #db2777, #f59e0b);
  transform: scale(1.05);
}

/* Smooth scrolling  */
html {
  scroll-behavior: smooth;
}
