@import "tailwindcss";

* {
  font-family: "Geist", sans-serif;
}

@keyframes lineMove {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}
.animate-lineMove {
  animation: lineMove 2.5s linear infinite;
  opacity: 0.7;
}
